<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
					<section>
						<h2>Filler Links</h2>
						<ul class="divided">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</section>

			</div>
			<div class="col-3 col-6-medium col-12-small">

				<!-- Links -->
					<section>
						<h2>More Filler</h2>
						<ul class="divided">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</section>

				<!-- Links -->
					<section>
						<h2>Even More Filler</h2>
						<ul class="divided">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</section>

			</div>
			<div class="col-6 col-12-medium imp-medium">

				<!-- Contact -->
					<section>
						<h2>Get in touch</h2>
						<div>
							<div class="row">
								<div class="col-6 col-12-small">
									<dl class="contact">
										<dt>Twitter</dt>
										<dd><a href="#">@@@Config.CompanyName</a></dd>
										<dt>Facebook</dt>
										<dd><a href="#">facebook.com/@Config.CompanyName</a></dd>
										<dt>WWW</dt>
										<dd><a href="#">localhost</a></dd>
										<dt>Email</dt>
										<dd><a href="mailto:"@Config.CompanyEmail"">@Config.CompanyEmail</a></dd>
									</dl>
								</div>
								<div class="col-6 col-12-small">
									<dl class="contact">
										<dt>Address</dt>
										<dd>
											1234 Fictional Rd<br />
											Nashville, TN 00000-0000<br />
											USA
										</dd>
										<dt>Phone</dt>
										<dd>@Config.CompanyPhone</dd>
									</dl>
								</div>
							</div>
						</div>
					</section>

			</div>
			<div class="col-12">
				<div id="copyright">
					<ul class="menu">
						<li>&copy; @Config.CompanyName. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>