<div id="header-wrapper">
	<div class="container">

		<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
						<h1><a href="/" id="logo">@Config.CompanyName</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul class="menu">
								<li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
								@*<li>
									<a href="#">Dropdown</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li>
											<a href="#">Phasellus consequat</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								@if (Model.Any())
								{
									<a>Наши услуги</a>
									<ul>
										@foreach(ServiceItem entity in Model)
										{
											<li><a href=""></a>@entity.Title</li>
										}
									</ul>
								}*@
								<li><a asp-area="" asp-controller="Services" asp-action="Index">Наши услуги</a></li>
								<li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
								<li><a href="/admin">Admin Panel</a></li>
							</ul>
						</nav>

				</div>
			</header>

	</div>
</div>