@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div>
    @if (Model.Any())
    {
        @foreach (ServiceItem entity in Model)
        {    
            <section>
                <header class="major">
				    <h2>@entity.Title</h2>
			    </header>
                <div>
                    <img src="~/images/ServiceItems/@entity.TitleImagePath" width="200px" height="200px" class="img-left"/>
                    @entity.SubTitle
                </div>
                <footer>
				    <br clear=all>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id" class="button icon solid fa-info-circle">@SharedLocalizer["ButtonLearnMore"]</a>
                    <br>
                </footer>
            </section>
        }
     }
</div>